src/main/mule/indigoFlightsbyUriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="indigoFlightsbyUriParamsFlow" doc:id="c868c678-2da7-45c8-aa91-6d0c73de8dce" >
		<logger level="INFO" doc:name="Logger" doc:id="a9b32509-e2ca-4c88-bda4-3c521c86ad4f" message="indigoFlightsbyUri params flow starts------------------"/>
		<http:request method="GET" doc:name="Request" doc:id="66a26e55-28c5-47ae-a3d5-d7e5f3848167" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.uriParams.source,
	to : attributes.uriParams.destination,
	depatureDate : attributes.uriParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="73b86c6f-80d1-4d5d-a883-7e2912c60d46" message="response from indigo airlines---------#[payload]"/>
	</flow>
</mule>
